router ospf {{ ospf_process }}
 {% if router_id -%}
    router-id {{ router_id }}
 {% endif -%}
 {% if ospf_networks -%}
 {% for network in ospf_networks -%}
    network {{ network.ip }} {{ network.wildcard }} area {{ network.area }}
 {% endfor -%}
 {% endif -%}
 {% if ospf_redistribute and ospf_redistribute.bgp and ospf_redistribute.as_number -%}
    redistribute bgp {{ ospf_redistribute.as_number }} subnets
 {% endif %}
 {% if ospf_redistribute and ospf_redistribute.connected -%}
    redistribute connected
 {% endif %}
 {% if ospf_redistribute and ospf_redistribute.rip -%}
    redistribute rip subnets
 {% endif %}
