router rip
 version {{ rip_version }}
 {% if rip_networks -%}
 {% for network in rip_networks -%}
  network {{ network }}
 {% endfor -%}
 {% endif -%}
  no auto-summary
 {% if bgp_redistribute -%}
  redistribute bgp {{ bgp_as }} metric {{ bgp_metric }}
 {% endif %}
